<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="form-row">
    <label class="form-label">下一审批人</label>
    <div class="form-item">
        <select style="width: 400px;height: 30px;font-size: 10px">
            <option value='option1'>选择审批人</option>
        </select>
    </div>
    <div style="margin-left: 400px;margin-top: 20px">
        <input type="submit" id="tip-left" class="button green" value="提交">
        <input type="button" id="tip-top" class="button red" value="取消">
    </div>
</div>
</body>
</html>