<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>名片印制流程</title>
  <link href="css/jl.css" type="text/css" rel="stylesheet">
  <style>
    #box {
      width: 1000px;
      margin-left:20%;
      margin-top: 70px;
    }
    #grid_p{
      margin-bottom: 3px;
    }
  </style>
</head>


<body>
<div th:include="@{/common/indexOA.html}"></div>
<div class="box grid_6" id="box">
  <p id="grid_p"><img id="u2_img" class="img " src="images/常用网址/u89.png"><span style="font-size: 15px">行政管理>名片印制流程</span></p>
  <div id="tabs">
    <ul>
      <li>
        <a href="#tabs-1">名片印制流程</a>
      </li>

    </ul>
    <div id="tabs-1">
      <p>

      <div class="form-row">
        <label class="form-label">申请人</label>
        <div class="form-item">
          <input type="text"  disabled="disabled" />

        </div>
      </div>
      <div class="form-row">
        <label class="form-label">申请时间</label>
        <div class="form-item">
          <input type="text"  />
          <span class="form-icon fugue-2 calendar-day"></span>
        </div>
      </div>
      <div class="form-row">
        <label class="form-label">部门</label>
        <div class="form-item">
          <input type="text"  disabled="disabled" />
        </div>
      </div>
      <div class="form-row">
        <label class="form-label">职位</label>
        <div class="form-item">
          <input type="text"  disabled="disabled"/>
        </div>
      </div>
      <div class="form-row">
        <label class="form-label">手机号</label>
        <div class="form-item">
          <input type="text" />
        </div>
      </div>
      <div class="form-row">
        <label class="form-label">座机号</label>
        <div class="form-item">
          <input type="text" />
        </div>
      </div>
      <div class="form-row">
        <label class="form-label">数量</label>
        <div class="form-item">
          <input type="text" id="datepicker" />
        </div>
      <div class="form-row">
        <label class="form-label">备注</label>
        <div class="form-item">
          <textarea id="shiyou" style="width: 500px;height: 100px" ></textarea>
        </div>
      </div>
      <span th:include="@{common/bottom.html}"></span>
      </p>
    </div>
    <div id="tabs-2">
      <p></p>
    </div>
  </div>
</div>
<script>
  $(function() {

    $('#tip-left').tipTip({
      attribute: "value",
      delay: "100",
      defaultPosition: "left"
    });
    $('#tip-top').tipTip({
      attribute: "value",
      delay: "100",
      defaultPosition: "top"
    });
    $('#tip-right').tipTip({
      attribute: "value",
      delay: "100",
      defaultPosition: "right"
    });
    $('#tip-bottom').tipTip({
      attribute: "value",
      delay: "100",
      defaultPosition: "bottom"
    });

    $('#slider').slider({
      range: "min",
      value: 50
    });

    $('#range-slider').slider({
      range: true,
      min: 0,
      max: 400,
      values: [100, 300]
    });

    $("#eq > span").each(function() {
      var value = parseInt($(this).text(), 10);
      $(this).empty().slider({
        value: value,
        range: "min",
        animate: true,
        orientation: "vertical"
      });
    });

    $("#accordion").accordion({
      fillSpace: true
    });

    $("#tabs").tabs();

    $("#progressbar").progressbar({
      value: 1
    });
    $("#progressbar .ui-progressbar-value").addClass("ui-corner-right");

    new_width = "100%";
    loop_width = "1%";
    $("#progressbar .ui-progressbar-value").animate({
      width: new_width
    }, 60000);

    $("#dialog").dialog({
      autoOpen: false,
      resizable: false,
      buttons: {
        Close: function() {
          $(this).dialog("close");
        }
      }
    });

    $("#open-dialog").click(function() {
      $("#dialog").dialog("open");
      return false;
    });

    $("#modal-dialog").dialog({
      autoOpen: false,
      resizable: false,
      modal: true,
      buttons: {
        Close: function() {
          $(this).dialog("close");
        }
      }
    });

    $("#open-modal-dialog").click(function() {
      $("#modal-dialog").dialog("open");
      return false;
    });

    $('#open-notif').click(function() {
      $.sticky('I am a simple notification.')
    });

    $('#open-comp-notif').click(function() {
      $.sticky('<b>I am a complex notification.</b><br><br><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>')
    });

    SyntaxHighlighter.all()

    $('#iphone-check').iphoneStyle();

    $("#datepicker").datepicker();

    $("#colorpicker").ColorPicker();
  });
</script>
</body>
</html>
