<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>修改车辆</title>
    <link href="css/jl.css" type="text/css" rel="stylesheet">
    <style>
        #box {
            width: 1000px;
            margin-left:20%;
            margin-top: 70px;
        }
        #grid_p{
            margin-bottom: 3px;
        }
        .form-a{
            color: red;
            font-size: 12px;
            font-family: '宋体 Bold', '宋体';
        }
    </style>
</head>


<body>
<div th:include="@{common/indexOA.html}"></div>

<div class="box grid_6" id="box">
    <p id="grid_p"><img id="u2_img" class="img " src="images/常用网址/u89.png"><span style="font-size: 15px">行政管理>用车管理</span></p>

    <div id="tabs">
        <ul>
            <li>
                <a href="#tabs-1">车辆信息修改</a>
            </li>
        </ul>

        <div id="tabs-1">
            <form action="/updateCarForm" method="post" id="updateCarForm">
                <input type="hidden" name="carID"   th:value="${car.carID}">
                <div class="form-row">
                    <label class="form-label">车牌号</label>
                    <div class="form-item">
                        <input type="text" id="licenseNumber" name="licenseNumber" style="width: 400px" th:value="${car.licenseNumber}" />

                    </div>
                </div>
                <div class="form-row">
                    <label class="form-label">车型</label>
                    <div class="form-item">
                        <input type="text" id="carType" style="width: 400px" name="carType" th:value="${car.carType}"/>
                    </div>
                </div>
                <div class="form-row">
                    <label class="form-label">备注</label>
                    <div class="form-item">
                        <textarea type="text" id="note" style="width: 400px;height:150px" name="note" th:value="${car.note}">

                        </textarea>
                    </div>
                </div>
                <div style="margin-left: 170px;margin-top: 15px">
                    <input type="submit" id="submitUp" class="button green" value="提交" >
                    <input type="button" id="callUp" class="button red" value="取消">
                </div>
            </form>
        </div>

    </div>
</div>
<script>
    $(function() {
        $('#tip-left').tipTip({
            attribute: "value",
            delay: "100",
            defaultPosition: "left"
        });
        $('#tip-top').tipTip({
            attribute: "value",
            delay: "100",
            defaultPosition: "top"
        });
        $('#tip-right').tipTip({
            attribute: "value",
            delay: "100",
            defaultPosition: "right"
        });
        $('#tip-bottom').tipTip({
            attribute: "value",
            delay: "100",
            defaultPosition: "bottom"
        });

        $('#slider').slider({
            range: "min",
            value: 50
        });

        $('#range-slider').slider({
            range: true,
            min: 0,
            max: 400,
            values: [100, 300]
        });

        $("#eq > span").each(function() {
            var value = parseInt($(this).text(), 10);
            $(this).empty().slider({
                value: value,
                range: "min",
                animate: true,
                orientation: "vertical"
            });
        });

        $("#accordion").accordion({
            fillSpace: true
        });

        $("#tabs").tabs();

        $("#progressbar").progressbar({
            value: 1
        });
        $("#progressbar .ui-progressbar-value").addClass("ui-corner-right");

        new_width = "100%";
        loop_width = "1%";
        $("#progressbar .ui-progressbar-value").animate({
            width: new_width
        }, 60000);

        $("#dialog").dialog({
            autoOpen: false,
            resizable: false,
            buttons: {
                Close: function() {
                    $(this).dialog("close");
                }
            }
        });

        $("#open-dialog").click(function() {
            $("#dialog").dialog("open");
            return false;
        });

        $("#modal-dialog").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            buttons: {
                Close: function() {
                    $(this).dialog("close");
                }
            }
        });

        $("#open-modal-dialog").click(function() {
            $("#modal-dialog").dialog("open");
            return false;
        });

        $('#open-notif').click(function() {
            $.sticky('I am a simple notification.')
        });

        $('#open-comp-notif').click(function() {
            $.sticky('<b>I am a complex notification.</b><br><br><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>')
        });

        SyntaxHighlighter.all()

        $('#iphone-check').iphoneStyle();

        $("#datepicker").datepicker();

        $("#colorpicker").ColorPicker();


        laydate.render({
            elem: '#colorpicker2'
            , type: 'datetime'
        });
        laydate.render({
            elem: '#colorpicker3'
            , type: 'datetime'
        });
    });
</script>
</body>
</html>
