
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户管理</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/jl.css" type="text/css" rel="stylesheet">
    <style type="text/css">
        #grid_6{
            width: 1000px;
            margin-left: 280px;
            margin-top: 95px;
        }
        #tabs_div{
            padding-right: 50px;
            text-align: right;
            margin-top: 10px;
        }
        .tr_th1{
            text-align: center;
            border-bottom: 1px solid #999999;
        }
    </style>
</head>
<body>
<div th:include="@{/common/indexOA.html}"></div>
<div class="box grid_6" id="grid_6">
    <p id="grid_p"><img id="u2_img" class="img " src="images/常用网址/u89.png"><span style="font-size: 15px">系统管理>角色管理</span></p>
    <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
            <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
                <a href="#tabs-2">用户管理</a>
            </li>
        </ul>
        <!--用户管理-->
        <div id="tabs-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
            <div id="tabs_div">
                <form action="#" method="post">
                    <a style="margin-left: 20px;">用户名：</a><input type="text" name="name" style="height: 10px;width: 100px;" />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a>真实姓名：</a><input type="text" name="name" style="height: 10px;width: 100px;" />
                    <input type="button" class="button black" value="查询" style="margin-left: 80px;">
                </form>
            </div>
            <a style="font-size: 13px;margin-left: 5px;">查询结果：</a>
            <hr />
            <table class="display dataTable">
                <thead>
                <tr role="row">
                    <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="dt1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 248px;">
                        <div class="DataTables_sort_wrapper">选择<span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-n">
          								</span></div>
                    </th>
                    <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="dt1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 344px;">
                        <div class="DataTables_sort_wrapper">排列
                            <span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span>
                        </div>
                    </th>
                    <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="dt1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 321px;">
                        <div class="DataTables_sort_wrapper">用户名
                            <span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span>
                        </div>
                    </th>
                    <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="dt1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 321px;">
                        <div class="DataTables_sort_wrapper">真实姓名
                            <span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span>
                        </div>
                    </th>
                    <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="dt1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 321px;">
                        <div class="DataTables_sort_wrapper">角色
                            <span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span>
                        </div>
                    </th>
                    <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="dt1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 321px;">
                        <div class="DataTables_sort_wrapper">部门
                            <span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span>
                        </div>
                    </th>
                    <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="dt1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 321px;">
                        <div class="DataTables_sort_wrapper">状态
                            <span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span>
                        </div>
                    </th>
                    <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="dt1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 321px;">
                        <div class="DataTables_sort_wrapper">操作
                            <span class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span>
                        </div>
                    </th>
                </tr>
                </thead>
                <form action="#" method="post">
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <tr class="gradeA odd">
                        <td class="tr_th1">
                            <input type="checkbox" value="" />
                        </td>
                        <td class="tr_th1">
                            1
                        </td>
                        <td class="tr_th1">
                            admin
                        </td>
                        <td class="tr_th1">
                            张三
                        </td>
                        <td class="tr_th1">
                            系统管理员
                        </td>
                        <td class="tr_th1">
                            总经办
                        </td>
                        <td class="tr_th1">
                            可用
                        </td>
                        <td class="tr_th1">
                            <ul class="icons">
                                <li class='silk wrench'></li>
                                <li class='silk table-edit'></li>
                                <li class='silk cross'></li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="gradeA odd">
                        <td class="tr_th1">
                            <input type="checkbox" value="" />
                        </td>
                        <td class="tr_th1">
                            1
                        </td>
                        <td class="tr_th1">
                            admin
                        </td>
                        <td class="tr_th1">
                            张三
                        </td>
                        <td class="tr_th1">
                            系统管理员
                        </td>
                        <td class="tr_th1">
                            总经办
                        </td>
                        <td class="tr_th1">
                            可用
                        </td>
                        <td class="tr_th1">
                            <ul class="icons">
                                <li class='silk wrench'></li>
                                <li class='silk table-edit'></li>
                                <li class='silk cross'></li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="gradeA odd">
                        <td class="tr_th1">
                            <input type="checkbox" value="" />
                        </td>
                        <td class="tr_th1">
                            1
                        </td>
                        <td class="tr_th1">
                            admin
                        </td>
                        <td class="tr_th1">
                            张三
                        </td>
                        <td class="tr_th1">
                            系统管理员
                        </td>
                        <td class="tr_th1">
                            总经办
                        </td>
                        <td class="tr_th1">
                            可用
                        </td>
                        <td class="tr_th1">
                            <ul class="icons">
                                <li class='silk wrench'></li>
                                <li class='silk table-edit'></li>
                                <li class='silk cross'></li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="gradeA odd">
                        <td class="tr_th1">
                            <input type="checkbox" value="" />
                        </td>
                        <td class="tr_th1">
                            1
                        </td>
                        <td class="tr_th1">
                            admin
                        </td>
                        <td class="tr_th1">
                            张三
                        </td>
                        <td class="tr_th1">
                            系统管理员
                        </td>
                        <td class="tr_th1">
                            总经办
                        </td>
                        <td class="tr_th1">
                            可用
                        </td>
                        <td class="tr_th1">
                            <ul class="icons">
                                <li class='silk wrench'></li>
                                <li class='silk table-edit'></li>
                                <li class='silk cross'></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
            </table>
            </form>
        </div>
    </div>
</div>
<script>
    $(function() {
        $("#tabs").tabs();
        $('#dt1').dataTable({
            "bJQueryUI": true
        });
        $('#dt2').dataTable({
            "bJQueryUI": true
        });
        $('#dt3').dataTable({
            "bJQueryUI": true,
            "sPaginationType": "full_numbers"
        }); /* For the data tables */

    });
</script>

</body>
</html>
