
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>组织结构管理</title>
    <link href="resources/css/jl.css" type="text/css" rel="stylesheet">
    <style>
        #box {
            width: 1000px;
            margin-left:20%;
            margin-top: 70px;
        }
        #grid_p{
            margin-bottom: 3px;
        }management
    </style>
</head>


<body>
<div th:include="@{/common/indexOA.html}"></div>
<div class="box grid_6" id="box">
    <p id="grid_p"><img id="u2_img" class="img " src="images/常用网址/u89.png"><span style="font-size: 15px">系统管理>组织结构管理</span></p>
    <div id="tabs">
        <ul>
            <li>
                <a href="#tabs-1">总经办</a>
            </li>
            <li>
                <a href="#tabs-2">财务部</a>
            </li>
            <li>
                <a href="#tabs-3">行政部</a>
            </li>
            <li>
                <a href="#tabs-4">人事部</a>
            </li>

        </ul>
        <div id="tabs-1">
            <p>
            <div class="form-row">
                <label class="form-label">部门名称</label>
                <div class="form-item">
                    <input type="text" th:value="总经办"/>
                </div>
            </div>
            <div class="form-row">
                <label class="form-label">部门负责人</label>
                <div class="form-item">
                    <input type="text"  th:value="张三"/>
                </div>
            </div>
            <div class="form-row">
                <label class="form-label">联系电话</label>
                <div class="form-item">
                    <input type="text" th:value="0531-88662490"/>
                </div>
            </div>
            <div class="form-row">
                <label class="form-label">移动电话</label>
                <div class="form-item">
                    <input type="text" th:value="13512341234"/>
                </div>
            </div>
            <div class="form-row">
                <label class="form-label">传真</label>
                <div class="form-item">
                    <input type="text" th:value="13512341234"/>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="button big blue" value="保存">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="button big red" value="取消">
            </p>
        </div>
        <div id="tabs-2">
            <p>
            <div class="form-row">
                <label class="form-label">部门名称</label>
                <div class="form-item">
                    <input type="text" th:value="财务部"/>
                </div>
            </div>
            <div class="form-row">
                <label class="form-label">部门负责人</label>
                <div class="form-item">
                    <input type="text"  th:value="李四"/>
                </div>
            </div>
            <div class="form-row">
                <label class="form-label">联系电话</label>
                <div class="form-item">
                    <input type="text" th:value="12124124"/>
                </div>
            </div>
            <div class="form-row">
                <label class="form-label">移动电话</label>
                <div class="form-item">
                    <input type="text" th:value="125254525235"/>
                </div>
            </div>
            <div class="form-row">
                <label class="form-label">传真</label>
                <div class="form-item">
                    <input type="text" th:value="14634646246"/>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="button big blue" value="保存">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="button big red" value="取消">
            </p>
        </div>
        <div id="tabs-3">
            <p>
            <div class="form-row">
                <label class="form-label">部门名称</label>
                <div class="form-item">
                    <input type="text" th:value="行政部"/>
                </div>
            </div>
            <div class="form-row">
                <label class="form-label">部门负责人</label>
                <div class="form-item">
                    <input type="text"  th:value="王五"/>
                </div>
            </div>
            <div class="form-row">
                <label class="form-label">联系电话</label>
                <div class="form-item">
                    <input type="text" th:value="0531-88662490"/>
                </div>
            </div>
            <div class="form-row">
                <label class="form-label">移动电话</label>
                <div class="form-item">
                    <input type="text" th:value="13512341234"/>
                </div>
            </div>
            <div class="form-row">
                <label class="form-label">传真</label>
                <div class="form-item">
                    <input type="text" th:value="13512341234"/>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="button big blue" value="保存">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="button big red" value="取消">
            </p>
        </div>
        <div id="tabs-4">
            <p>
            <div class="form-row">
                <label class="form-label">部门名称</label>
                 <div class="form-item">
                    <input type="text" value="总经办"/>
                </div>
            </div>
            <div class="form-row">
                <label class="form-label">部门负责人</label>
                <div class="form-item">
                    <input type="text"  th:value="赵六"/>
                </div>
            </div>
            <div class="form-row">
                <label class="form-label">联系电话</label>
                <div class="form-item">
                    <input type="text" th:value="12413532523"/>
                </div>
            </div>
            <div class="form-row">
                <label class="form-label">移动电话</label>
                <div class="form-item">
                    <input type="text" th:value="463463463463"/>
                </div>
            </div>
            <div class="form-row">
                <label class="form-label">传真</label>
                <div class="form-item">
                    <input type="text" th:value="346346346346"/>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="button big blue" value="保存">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="button big red" value="取消">
            </p>
        </div>
    </div>
</div>
<script>
    $(function() {

        $('#tip-left').tipTip({
            attribute: "value",
            delay: "100",
            defaultPosition: "left"
        });
        $('#tip-top').tipTip({
            attribute: "value",
            delay: "100",
            defaultPosition: "top"
        });
        $('#tip-right').tipTip({
            attribute: "value",
            delay: "100",
            defaultPosition: "right"
        });
        $('#tip-bottom').tipTip({
            attribute: "value",
            delay: "100",
            defaultPosition: "bottom"
        });

        $('#slider').slider({
            range: "min",
            value: 50
        });

        $('#range-slider').slider({
            range: true,
            min: 0,
            max: 400,
            values: [100, 300]
        });

        $("#eq > span").each(function() {
            var value = parseInt($(this).text(), 10);
            $(this).empty().slider({
                value: value,
                range: "min",
                animate: true,
                orientation: "vertical"
            });
        });

        $("#accordion").accordion({
            fillSpace: true
        });

        $("#tabs").tabs();

        $("#progressbar").progressbar({
            value: 1
        });
        $("#progressbar .ui-progressbar-value").addClass("ui-corner-right");

        new_width = "100%";
        loop_width = "1%";
        $("#progressbar .ui-progressbar-value").animate({
            width: new_width
        }, 60000);

        $("#dialog").dialog({
            autoOpen: false,
            resizable: false,
            buttons: {
                Close: function() {
                    $(this).dialog("close");
                }
            }
        });

        $("#open-dialog").click(function() {
            $("#dialog").dialog("open");
            return false;
        });

        $("#modal-dialog").dialog({
            autoOpen: false,
            resizable: false,
            modal: true,
            buttons: {
                Close: function() {
                    $(this).dialog("close");
                }
            }
        });

        $("#open-modal-dialog").click(function() {
            $("#modal-dialog").dialog("open");
            return false;
        });

        $('#open-notif').click(function() {
            $.sticky('I am a simple notification.')
        });

        $('#open-comp-notif').click(function() {
            $.sticky('<b>I am a complex notification.</b><br><br><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>')
        });

        SyntaxHighlighter.all()

        $('#iphone-check').iphoneStyle();

        $("#datepicker").datepicker();

        $("#colorpicker").ColorPicker();
    });
</script>
</body>
</html>

</body>
</html>